@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    font-family: PeydaWebFaNum, Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-gray-200 w-2 h-2;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-gray-300;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-gray-300;
}

* {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/* ---------------------------------------------------------------------- */
/* Tailwind are */

@layer utilities {
    .glass {
        backdrop-filter: blur(20px) saturate(150%);
        -webkit-backdrop-filter: blur(20px) saturate(150%);
    }

    .app-px {
        @apply px-4 lg:px-12 xl:px-24 2xl:px-80;
    }

    .active-navlink {
        background: linear-gradient(
            270deg,
            rgba(64, 66, 66, 0.5) 0%,
            rgba(104, 107, 108, 0.28) 49.5%,
            rgba(255, 255, 255, 0.05) 100%
        );
        box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.25) inset,
            -1px -1px 7px 0px rgba(255, 255, 255, 0.4) inset,
            1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset,
            1px 1px 6px 0px rgba(255, 255, 255, 0.7) inset;
        backdrop-filter: blur(2px);
    }
}

/* ---------------------------------------------------------------------- */
/* Fonts area */

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-Thin.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 200;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-ExtraLight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-Light.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-Medium.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 600;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-SemiBold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 800;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-ExtraBold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 900;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-Black.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-Bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Peyda/woff2/PeydaWebFaNum-Regular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("fonts/Peyda/woff/PeydaWebFaNum-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}
