.footer {
    color: white;
    position: relative;
}

.footer::before {
    top: 0;
    height: 30px;
    content: "";
    font-size: 20px;
    text-align: center;
    position: absolute;
    background-color: white;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    @apply w-[48%] md:w-[45%] lg:w-[50%] left-[64%] md:left-[65%] lg:left-[67%];
}

.footer::after {
    left: 0px;
    top: -30px;
    z-index: 1;
    content: "";
    height: 30px;
    position: absolute;
    @apply w-[40%] md:w-[42.55%] lg:w-[42%] bg-ada-secondary-50 rounded-t-3xl;
}

.footerRightCurve {
    right: 0;
    z-index: 1;
    top: -30px;
    height: 30px;
    position: absolute;
    @apply w-[12%] md:w-[12.5%] lg:w-[8%] bg-ada-secondary-50 rounded-t-3xl;
}

.footerContent {
    top: -26px;
    height: 55px;
    z-index: 2;
    color: black;
    position: absolute;
    transform: translateX(-50%);
    @apply w-[44%] md:w-[42%] lg:w-[48%] left-[64%] md:left-[65%] lg:left-[67%];
}
